/* background for weekly planner in the head section */

.back-pic {
  background-size: cover;
  min-height: 50vh;
  position: relative;
  background-position: center;
}

.weekly-back {
  padding: 1.5vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.bgturkislight {
  background-color: #b8ecf4;
}

.colorturkislight {
  color: #b8ecf4;
}

.cardtitle {
  font-family: "Courgette", cursive;
  font-weight: bold;
}
